button {
	display: inline-block;
	margin: 0 10px 0 10px;
	font: bold 30px "Verdana";
}

.button-wrapper {
	margin: 40px auto 20px auto;
	text-align: center;
}

.outer {
	height: 30px;
	text-align: center;
	margin: 0 auto;
}

.inner {
	border: 1px solid black;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
}

.yellow {
	background-color: yellow;
}