html,
body {
	margin: 0;
	padding: 0;
}

button {
	display: block;
	text-align: center;
	margin: 40px auto 20px auto;
	font: bold 30px "Verdana";
}

.outer {
	height: 30px;
	text-align: center;
	margin: 0 auto;
}

.inner {
	border: 1px solid black;
	display: inline-block;
	width: 30px;
	height: 30px;
}

.yellow {
	background-color: yellow;
}